body {
    background-color: #c9f8fe;
    font-family: sans-serif;
}

.whole {
    display: grid;
    grid-template-columns: 49% 40%;
    margin: 9.3rem 25.3rem;
}

.head1 {
    background-image: url(../media/background.jpg);
    background-size: cover;
    height: 21rem;
    width: 17rem;
}

.head2 {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 9rem;
    margin-left: 5rem;
}

.head3 {
    height: 21rem;
    width: 22rem;
    background-color: white;
}

.h1 {
    color: white;
    font-size: larger;
    font-weight: normal;
    margin-bottom: 0.5rem;
}

.img1,
.img2 {
    margin-right: 0.2rem;
    height: 1rem;
    width: 1rem;
}

.button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #639d8d;
    border-radius: 25px;
    padding: 0.5rem 0.6rem;
    margin: 0.5rem 5rem;
    outline: none;
    border: none;
    opacity: 0.8;
}

.p1 {
    color: white;
    font-size: x-small;
}

.head4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}

.p2 {
    font-weight: bold;
    font-size: large;
    margin-right: 12rem;
}

.head5 {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.p3 {
    font-size: small;
    margin-left: 0.8rem;
    color: #d8d8d8;
}

.p3:hover {
    cursor: pointer;
    color: black;
}

.p4 {
    font-size: small;
    color: black;
}

.img3 {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.img4 {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
}

.head6 {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.p5 {
    font-size: x-small;
    font-weight: bolder;
    color: #99a1a5;
    margin-right: 2rem;
}

.p6 {
    font-size: large;
    font-family: sans-serif;
    margin-right: 0.3rem;
    margin-left: 2rem;
    font-weight: lighter;
}

.p7 {
    font-size: x-small;
    font-weight: bolder;
}

.p8 {
    font-size: large;
    font-family: sans-serif;
    margin-right: 0.3rem;
    margin-left: 1rem;
    font-weight: lighter;
}

.p9 {
    font-size: large;
    font-family: sans-serif;
    margin-right: 0.3rem;
    font-weight: lighter;
}

.p10 {
    font-size: large;
    font-family: sans-serif;
    margin-right: 0.3rem;
    margin-left: 3.5rem;
    font-weight: lighter;
}

.p11 {
    font-size: large;
    font-family: sans-serif;
    margin-right: 0.3rem;
    margin-left: 1rem;
    font-weight: lighter;
}