body {
    background-color: #c9f8fe;
    font-family: sans-serif;
}

.whole {
    display: grid;
    grid-template-columns: 49% 40%;
    margin: 9.3rem 25.3rem;
}

.head1 {
    background-image: url(../media/background.jpg);
    background-size: cover;
    height: 21rem;
    width: 17rem;
}

.head2 {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 9rem;
    margin-left: 5rem;
}

.head3 {
    height: 21rem;
    width: 20rem;
    background-color: white;
}

.h1 {
    color: white;
    font-size: larger;
    font-weight: normal;
    margin-bottom: 0.5rem;
}

.img1 {
    margin-right: 0.2rem;
}

.button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #639d8d;
    border-radius: 25px;
    padding: 0.5rem 1.3rem;
    margin: 0.5rem auto;
    outline: none;
    border: none;
    opacity: 0.8;
}

.p1 {
    color: white;
    font-size: x-small;
}